p {
    background-color: #fff;
}
.content{
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'aside section section section'
    ;
    
}
nav{
    background-color:black;
    grid-area: navbar;
}
aside{
    grid-area: aside;
    padding-left: 1rem;
}
section{
    grid-area: section;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr) 1fr 1fr);
}
ul li{
    /* display: inline;
    padding: 0rem 1rem; */
}
ul li a{
    text-decoration: none;
    color: white;
}
img{
    width: 30%;
    margin:1% 2%;
    border-radius: 5%;
}
#name{
    display: inline-block;
    /* margin-left: 1rem;
    margin-right: 70%; */
    padding: 0.5rem;
    border-radius: 29px;
    background-color: rgb(223, 223, 223);
    position: relative;
    top: 2rem;
    right: 11rem;
}
#edu{
    display: inline-block;
    display: inline;
    position: relative;
    top: 5.5rem;
    padding: 0.5rem;
    border-radius: 29px;
    background-color: rgb(224, 224, 224);   
    right: 19.7rem;

}